{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select form-select-lg mb-3" style="text-align: center" name="symbol">

            <option selected>Select a stock you want to sell</option>
            {% for symbol in symbols %}

                <option value="{{ symbol }}">{{ symbol }}</option>

            {% endfor %}

        </select>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
